{% extends "mysite/base.html" %}

{% load static %}

{% block title %}Time-Tracker{% endblock %}

{% block content %}

<div id="landing-page-container"></div>

{% endblock %}


{% block scripts-end %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="{% static "timetracker/js/login.min.js" %}"></script>
{% endblock %}

