**/*.pyc

# Ignore directories
/web/node_modules

# Ignore Sublime
sublime-project
sublime-project.sublime-workspace

# Ignore bundles files
web/static/timetracker/css/styles.min.css
web/timetracker/static/timetracker/css/**/*.css
