#app {

  background-color: #121314;
  min-height: 100vh;

  #bar-task {
    height: 70px;
    // box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    border-bottom: 1px solid #191919;
    background-color: #1c1c1f;
    color: #999999;
    overflow: hidden;
    margin-bottom: 5px;

    input {
      padding-left: 20px;
      border-bottom: none;
      margin-bottom: 0;
      height: 65px;
      font-size: 1.4em;

      &:focus {
        border-bottom: none;
        box-shadow: none;
      }
    }

    i {
      cursor: pointer;
      padding-top: 3px;
    }
  }

  #bar-clock {
    position: relative;
    height: 70px;

    span {
      color: #ccc;
      font-size: 1.4em;
      position: absolute;
      top: 25%;
    }
  }

  #bar-info {
    input {
      font-size: 1.2em;
    }

    .bar-info-chip {
      position: relative;
      height: 70px;

      .chip {
        position: absolute;
        top: 30%;
        left: 20%;
        cursor: pointer;
      }
    }
  }

  #app-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    #navigation-outer {
      width: 10%;
      background-color: #1c1c1f;
      min-height: 100vh;

      ul {
        margin: 20px 10px 20px 10px;

        li {
          padding: 8px;
          position: relative;
          transition: background-color 0.3s;
          cursor: pointer;

          span {
            position: absolute;
            height: 100%;
            color: #999999;
            padding-left: 10px;
          }

          &.active {
            background-color: #202020;
            border-radius: 8px;
          }
        }
      }

      i {
        color: #999999;
      }
    }

    #tasks  {
      width: 90%;
    }

  }

}
